/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

header {
    /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FFs1ELh5WYAAH5dH%3Fformat%3Djpg%26name%3D4096x4096&f=1&nofb=1&ipt=783d6180c6473342fed4d7dddca2d128a9a8ace171423ab6eb20401b3822faa4'); */
    background-color: #252;
    color: #eee;
    background-position: -200px 1000px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  padding: 1rem;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.content {
  background-color: #eee;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 90%;
  margin: 6% 10%;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.weekly-dashboard,
.add-meal {
  margin: 0 1rem;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  flex: 1;
  border: 1px solid black;
}

.add-meal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.add-meal div,
.add-meal button {
  margin: 0.25rem 0;
}

img {
  margin: 0 auto;
  display: flex;
}

footer {
  text-align: center;
  margin: 1rem;
  font-size: 0.8em;
  color: #555;
}
